<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hnl.ytplayer">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Storage / media read permissions should be requested at runtime when needed -->

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.PlayerActivity" android:exported="false" />
        <activity android:name=".ui.activities.HistoryActivity" android:exported="false" />
        <activity android:name=".ui.activities.FavoritesActivity" android:exported="false" />
        <activity android:name=".ui.activities.SettingsActivity" android:exported="false" />

        <service
            android:name=".services.MediaNotificationService"
            android:exported="false" />

        <service
            android:name=".services.MediaSessionService"
            android:exported="false" />

    </application>

</manifest>
